@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  width: 12px;
}
body::-webkit-scrollbar-track{
  /* background-color: #82d999; */
  box-shadow: inset 0 0 10px lightblue;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgb(123, 117, 206) 50%, rgb(97, 159, 173) 30%);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(rgb(87, 128, 167) 50%, rgb(45, 134, 156) 30%);
    box-shadow: inset 0 0 7px rgb(129, 129, 138);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color: rgb(50, 46, 77) !important;
  background-color: white;
  border-radius: 6px;

}
.mid-nav{
  min-height: 70px;
  width: calc(100vw - 15px);
}
.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  white-space: nowrap;
  width: min-content;
}
.nav-item span{
  text-align: center;
  min-width: 60px;
}
.nav-text{
  position: absolute;
  white-space: nowrap;
  transform: translateY(30px);
  opacity: 0;
  transition: transform .5s;
}
.nav-item:hover .nav-text{
  /* position: absolute; */
  word-spacing: no-wrap;
  transform: translateY(15px);
  opacity: 1;
}
.nav-icon{
  transition: transform .4s;
  /* color: white; */
}
.nav-item:hover .nav-icon{
  transform: translateY(-10px);
}
.def-nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
}
.def-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-container{
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  /* padding: 7px 0px; */
  position: relative;
  width: calc(100vw - 25px);
}
.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://i.ibb.co/3zYJn4g/stethoscope-500x500-removebg-preview.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-image: linear-gradient( -60deg,#82d999 30%, #3a6946 60%);
  background-blend-mode: darken;
  color: white;
  font-size: 1.2rem;
  font-family: 'Luxurious Roman', cursive;
}

.banner-text{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50vw;
}

.banner svg{
  height: 500px;
  width: auto;
}

/* service card  */
.card-img{
  height: 270px;
}
.card-body{
  height: 300px;
  position: relative;
}
.card-bottom{
  position: absolute;
  bottom: 5px;
}
.custom-shape-divider-bottom-1642154190 {
    position: absolute;
    bottom: 0px;
    padding: 0;
    margin: 0;
    left: 0px;
    width: calc(100vw - 13px);
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642154190 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
}

.custom-shape-divider-bottom-1642154190 .shape-fill {
    fill: #FFFFFF;
}

/* map 
 */
#map-svg{
  /* position: absolute; */
  overflow: hidden;
  z-index: -2;
  width: 20vw;
  height: 20vw;
}
#map-icon{
  animation: mapMove 5s linear infinite;
  z-index: 400;
  overflow: hidden;
  position: absolute;
}

.footer{
  width: calc(100vw - 15px);
}
@keyframes mapMove {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(20vw));
  }
}
@keyframes content-show {
  0%{
  transform: translateY(270px);
  }
  100%{  
  transform: translateY(0px);
  }
}

@media only screen and (max-width: 990px){
  .active{
    background-color: inherit;
    border-bottom: 1px solid rgb(11, 15, 247) !important ;
    border-radius: 0px;
  }
  .nav-text{
    color: white;
    position: relative;
    opacity: 1;
    padding-left: 10px;
  }
  .nav-item{
    display: block;
    color: white;
    width: 140px;
    border-bottom: 1px solid white;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-item:hover .nav-text{
    transform: translateY(0);
  }
  .nav-item:hover .nav-icon{
    transform: translateY(0);
  }
  .nav-icon, .nav-text{
    /* display: block; */
    transform: translateY(0);
  }
  .nav-icon{
    color: white;
  }
  .banner-text{
    width: 98vw;
  }
}